head
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  title Flickr - potato
  link(href='css/vendors.min.css' rel='stylesheet' type='text/css' media='all')
  link(href='css/style.css' rel='stylesheet' type='text/css' media='all')
  script(src='js/vendors.min.js')
  script(src='js/app.js')
